# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/

# Logs and databases
*.log
*.log.zip # Ignore compressed loguru logs
*.sqlite
logs/
*.db

# Environment variables
.env
.env.*

# Project specific
config/credentials/
trained_models/
feature_cache/
reports/

# OS specific
.DS_Store
Thumbs.db

plots/

binance_credentials.json
.clinerules*

.venv

data

results